# User details for path construction

# Name of folder where data is stored
PATH_TO_DATA = /home/user/Documents

# Name of folders asssociated with instruments
UV_VIS_FOLDER_NAME = UV_Vis
FTIR_FOLDER_NAME = FTIR
TGA_FOLDER_NAME = TGA
DSC_FOLDER_NAME = DSC
NMR_FOLDER_NAME = NMR
RHEOMETER_FOLDER_NAME = Rheology
SEC_FOLDER_NAME = SEC
MS_FOLDER_NAME = MS
SAXS_FOLDER_NAME=SAXS
